server:
  port: 8081

spring:
  application:
    name: SERVICE-CLIENT

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:clientservicedb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
